<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--通过无参构造器构造bean-->
    <bean id="user1" class="top.psiphonc.pojo.User">
        <property name="name" value="Tom"/>
    </bean>

    <!--通过有参构造器构造bean-->
    <bean id="user2" class="top.psiphonc.pojo.User" name="asdkfjak, fuck">
        <!--通过参数类型-->
        <constructor-arg type="java.lang.String" value="Tom"/>
    </bean>
    <bean id="user3" class="top.psiphonc.pojo.User">
        <!--通过参数类型-->
        <constructor-arg type="java.lang.String" value="Tom"/>
    </bean>
    <bean id="user4" class="top.psiphonc.pojo.User">
        <!--通过字段名-->
        <constructor-arg name="name" value="Tom"/>
    </bean>

    <!--别名(没什么用 一般用bean标签的name属性取别名)-->
    <alias name="user1" alias="user"/>
</beans>