<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.psiphonc.mapper.UserMapper">
    <select id="selectUserById" resultType="User">
        select *
        from Mybatis.user
        where id = #{id}
    </select>

    <select id="selectAllUserList" resultType="User">
        select *
        from Mybatis.user
    </select>

    <insert id="insertUser" parameterType="User">
        insert into Mybatis.user (id, name, pwd) VALUE (#{id}, #{name}, #{pwd})
    </insert>

    <delete id="deleteUser">
        delete
        from Mybatis.user
        where id = #{id}
    </delete>
</mapper>
